<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hadymic.sqlgenerator.mapper.AdDataMapper">

    <resultMap id="AdDataResultMap" type="com.hadymic.sqlgenerator.model.AdData">
        <id property="id" column="id"/>
        <result property="image_ids" column="image_ids"/>
    </resultMap>
    <select id="selectImageIdsByAdId" resultMap="AdDataResultMap">
        select id,image_ids from ad_data where ad_id = #{ad_id}
    </select>
</mapper>
